<form name="vm.gameForm" ng-submit="vm.search()">
  
</form> 

<section>
  <h1>
    <h2><i>search for job</i></h2>
    <form class="searchform" name="vm.gameForm" ng-submit="vm.search()">
      <i>
        <input
          ng-model="vm.title"
          type="search"
          name="title"
          placeholder="'search by firstname!"
        />
      </i>
      <button type="submit" class="btn btn-success">Search Game</button>
    </form>
  </h1>
</section>


<br />
<table  class="table">
  <tr>
    <th>Title</th>
    <th>Salary</th>
    <th>Description</th>
    <th>Experience</th>
    <th>Skills</th>
    <th>Address</th>
  </tr>

  <!-- <tr ng-repeat="game  in vm.games " class="search">
    <td>{{job.title}}</td> -->
    <!-- <td>{{job.salary}}</td>
    <td>{{job.description}}</td>
    <td>{{job.experience}}</td>
    <td>{{job.skills }}</td>
    <td>{{job.location.address}}</td> -->
  </tr>
</table>

<!-- | filter:search 
